{{>licenseInfo}}

{{#operations}}/*
* {{classname}}Impl.h
*
* {{description}}
*/

#ifndef {{classnameSnakeUpperCase}}_IMPL_H_
#define {{classnameSnakeUpperCase}}_IMPL_H_

{{{defaultInclude}}}
#include <pistache/endpoint.h>
#include <pistache/http.h>
#include <pistache/router.h>
#include <memory>

{{#imports}}{{{import}}}
{{/imports}}

{{#apiNamespaceDeclarations}}
namespace {{this}} {
{{/apiNamespaceDeclarations}}

using namespace {{modelNamespace}};

class {{classname}}Impl : public {{classname}} {
public:
    {{classname}}Impl(Net::Address addr);
    ~{{classname}}Impl() { };

    {{#operation}}
    void {{operationId}}({{#allParams}}{{{dataType}}} {{#isBodyParam}}{{#isPrimitiveType}}&{{/isPrimitiveType}}{{/isBodyParam}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}, Net::Http::ResponseWriter &response);
    {{/operation}}

};

{{/operations}}


#endif