{{>licenseInfo}}
{{#operations}}/*
 * {{classname}}.h
 *
 * {{description}}
 */

#ifndef {{classname}}_H_
#define {{classname}}_H_

{{{defaultInclude}}}
#include <pistache/endpoint.h>
#include <pistache/http.h>
#include <pistache/router.h>

{{#imports}}{{{import}}}
{{/imports}}

{{#apiNamespaceDeclarations}}
namespace {{this}} {
{{/apiNamespaceDeclarations}}

using namespace {{modelNamespace}};

class {{declspec}} {{classname}} {
public:
    {{classname}}(Net::Address addr);
    virtual ~{{classname}}() {};
    void init(size_t thr);
    void start();
    void shutdown();

    const std::string base = "{{basePathWithoutHost}}";

private:
    void setupRoutes();

    {{#operation}}
    void {{operationIdSnakeCase}}(const Net::Rest::Request &request, Net::Http::ResponseWriter response);
    {{/operation}}

    std::shared_ptr<Net::Http::Endpoint> httpEndpoint;
    Net::Rest::Router router;

    {{#operation}}
    /// <summary>
    /// {{summary}}
    /// </summary>
    /// <remarks>
    /// {{notes}}
    /// </remarks>
    {{#allParams}}
    /// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}</param>
    {{/allParams}}
    virtual void {{operationId}}({{#allParams}}{{{dataType}}} {{#isBodyParam}}{{#isPrimitiveType}}&{{/isPrimitiveType}}{{/isBodyParam}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}, Net::Http::ResponseWriter &response) = 0;
    {{/operation}}

};

{{#apiNamespaceDeclarations}}
}
{{/apiNamespaceDeclarations}}

#endif /* {{classname}}_H_ */

{{/operations}}
