{{>licenseInfo}}
{{#operations}}/*
 * {{classname}}.h
 *
{{!! * {{description}}
 */

#pragma once

{{{defaultInclude}}}
#include <iovnet/services/http_router.h>
#include <iovnet/services/management_interface.h>
#include <vector>

{{#imports}}{{{import}}}
{{/imports}}

{{#apiNamespaceDeclarations}}
namespace {{this}} {
{{/apiNamespaceDeclarations}}

using namespace {{modelNamespace}};
using namespace iovnet::service;

class {{declspec}} {{classname}} : public ManagementInterface {
public:
    {{classname}}();
    virtual ~{{classname}}() {};

    const std::string base = "{{basePathWithoutHost}}";

protected:
    void setupRoutes();
    void control_handler(const HttpHandleRequest &request, HttpHandleResponse &response) override;

    {{#operation}}
    void {{operationIdSnakeCase}}_handler(const iovnet::service::Rest::Request &request, iovnet::service::HttpHandleResponse &response);
    {{/operation}}

    iovnet::service::Rest::Router router;

    {{#operation}}
    /// <summary>
    /// {{summary}}
    /// </summary>
    /// <remarks>
    /// {{notes}}
    /// </remarks>
    {{#allParams}}
    /// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}</param>
    {{/allParams}}
    virtual void {{operationIdSnakeCase}}({{#allParams}}const {{#isPrimitiveType}}{{{dataType}}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{{baseType}}}{{/isPrimitiveType}} &{{paramName}}, {{/allParams}} iovnet::service::HttpHandleResponse &response) = 0;
    {{#vendorExtensions.x-is-list}}
    {{#responses}}
    {{^primitiveType}}
    virtual std::vector<std::string> {{operationIdSnakeCase}}_get_list() = 0;
    {{/primitiveType}}
    {{/responses}}
    {{/vendorExtensions.x-is-list}}
    {{/operation}}
};

{{#apiNamespaceDeclarations}}
}
{{/apiNamespaceDeclarations}}

{{/operations}}
