{{>licenseInfo}}
{{#operations}}

#include "{{classname}}Impl.h"

{{#apiNamespaceDeclarations}}
namespace {{this}} {
{{/apiNamespaceDeclarations}}

using namespace {{modelNamespace}};

{{classname}}Impl::{{classname}}Impl() {}

/*
 * These functions include a default basic implementation.  The user could
 * extend adapt this implementation to his needs.
 */

{{baseName}} &{{classname}}Impl::get_iomodule(const std::string &name) {
  try {
    return iomodules.at(name);
  } catch (std::exception e) {
    std::cout << e.what() << std::endl;
    throw std::runtime_error("IOModule " + name + " does not exist");
  }
}

{{baseName}}Schema {{classname}}Impl::create_{{classVarName}}_by_id(
    const std::string &name, const {{baseName}}Schema &schema) {
  if (iomodules.count(name) != 0) {
    throw std::runtime_error("There is already an IOModule with name " + name);
  }

  {{baseName}}Schema localSchema(schema);
  std::unordered_map<std::string, {{baseName}}>::iterator iter;
  bool inserted;

  std::tie(iter, inserted) = iomodules.emplace(std::piecewise_construct,
                                               std::forward_as_tuple(name),
                                               std::forward_as_tuple(name, localSchema));
  {{baseName}} &m = iter->second;
  localSchema.setUuid(m.get_uuid().str());
  return localSchema;
}

void {{classname}}Impl::delete_{{classVarName}}_by_id(const std::string &name) {
  if (iomodules.count(name) == 0) {
    throw std::runtime_error("IOModule " + name + " does not exist");
  }
  iomodules.erase(name);
}

std::string {{classname}}Impl::read_{{classVarName}}_uuid_by_id(
    const std::string &name) {
  {{baseName}} &m = get_iomodule(name);
  return m.get_uuid().str();
}

std::vector<{{baseName}}Schema> {{classname}}Impl::read_{{classVarName}}_list_by_id() {
  throw std::runtime_error("Method not implemented");
}

std::vector<std::string> {{classname}}Impl::read_{{classVarName}}_list_by_id_get_list() {
  std::vector<std::string> modules;
  for (auto &x : iomodules) {
    modules.push_back(x.first);
  }
  return modules;
}

/*
 * Ports list related functions
 */
std::vector<PortsSchema> {{classname}}Impl::create_{{classVarName}}_ports_list_by_id(
    const std::string &name, const std::vector<PortsSchema> &ports) {
  throw std::runtime_error("Method not implemented");
}

std::vector<PortsSchema> {{classname}}Impl::read_{{classVarName}}_ports_list_by_id(
    const std::string &name) {
  throw std::runtime_error("Method not implemented");
}

void {{classname}}Impl::update_{{classVarName}}_ports_list_by_id(
    const std::string &name, const std::vector<PortsSchema> &ports) {
  throw std::runtime_error("Method not implemented");
}

void {{classname}}Impl::delete_{{classVarName}}_ports_list_by_id(
    const std::string &name) {
  throw std::runtime_error("Method not implemented");
}

std::vector<std::string> {{classname}}Impl::read_{{classVarName}}_ports_list_by_id_get_list() {
    return std::vector<std::string>();
}

/*
 * Ports related functions
 */
PortsSchema {{classname}}Impl::create_{{classVarName}}_ports_by_id(
    const std::string &name, const std::string &portsName,
    const PortsSchema &ports) {
  {{baseName}} &m = get_iomodule(name);
  return m.add_port(portsName, ports);
}

PortsSchema {{classname}}Impl::read_{{classVarName}}_ports_by_id(
    const std::string &name, const std::string &portsName) {
  throw std::runtime_error("Method not implemented");
}

void {{classname}}Impl::update_{{classVarName}}_ports_by_id(
    const std::string &name, const std::string &portsName,
    const PortsSchema &ports) {
  throw std::runtime_error("Method not implemented");
}

void {{classname}}Impl::delete_{{classVarName}}_ports_by_id(
    const std::string &name, const std::string &portsName) {
  {{baseName}} &m = get_iomodule(name);
  m.remove_port(portsName);
}

std::string {{classname}}Impl::read_{{classVarName}}_ports_peer_by_id(
    const std::string &name, const std::string &portsName) {
  {{baseName}} &m = get_iomodule(name);
  auto p = m.get_port(portsName);
  return p.peer();
}

std::string {{classname}}Impl::read_{{classVarName}}_ports_status_by_id(
    const std::string &name, const std::string &portsName) {
  throw std::runtime_error("Method not implemented");
}

std::string {{classname}}Impl::read_{{classVarName}}_ports_uuid_by_id(
    const std::string &name, const std::string &portsName) {
  {{baseName}} &m = get_iomodule(name);
  auto p = m.get_port(portsName);
  return p.uuid().str();
}

void {{classname}}Impl::update_{{classVarName}}_ports_peer_by_id(
    const std::string &name, const std::string &portsName,
    const std::string &peer) {
  {{baseName}} &m = get_iomodule(name);
  auto p = m.get_port(portsName);
  p.set_peer(peer);
}

void {{classname}}Impl::update_{{classVarName}}_ports_status_by_id(
    const std::string &name, const std::string &portsName,
    const std::string &status) {
  throw std::runtime_error("Method not implemented");
}

/*
 * These functions do not include a default implementation and should be
 * implemented by the user
 */

{{#operation}}
{{^vendorExtensions.x-has-default-impl}}
/**
* @name    {{operationId}}
* @brief   {{summary}}
*
* {{notes}}
*
* URL: {{httpMethod}} {{path}}
*
{{#allParams}}
* @param[in] {{paramName}} {{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}
{{/allParams}}
*
* Responses:
{{#responses}}
* {{code}} {{message}}{{#baseType}} -> Return type: {{baseType}}{{/baseType}}
{{/responses}}
*/
{{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}
{{classname}}Impl::{{operationIdSnakeCase}}({{#allParams}}const {{{dataType}}} &{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}) {
    //throw std::runtime_error("Method not implemented");
    auto &m = get_iomodule({{#allParams}}{{^secondaryParam}}{{paramName}}{{/secondaryParam}}{{/allParams}});
    return m.{{operationIdSnakeCase}}({{#allParams}}{{#secondaryParam}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/secondaryParam}}{{/allParams}});
}

{{#vendorExtensions.x-is-list}}
{{^bodyParams}}
{{#responses}}
{{^primitiveType}}
std::vector<std::string> {{classname}}Impl::{{operationIdSnakeCase}}_get_list() {
    return std::vector<std::string>();
}
{{/primitiveType}}
{{/responses}}
{{/bodyParams}}
{{/vendorExtensions.x-is-list}}
{{/vendorExtensions.x-has-default-impl}}
{{/operation}}

{{#apiNamespaceDeclarations}}
}
{{/apiNamespaceDeclarations}}

{{/operations}}
