aux_source_directory(model MODEL_SOURCES)
aux_source_directory(api API_SOURCES)
aux_source_directory(impl API_IMPL_SOURCES)

include_directories(model)
include_directories(api)
include_directories(impl)

set(SERVER_SOURCES
${MODEL_SOURCES}
${API_SOURCES}
${API_IMPL_SOURCES})

add_library(hello_world_api STATIC ${SERVER_SOURCES})
set_property(TARGET hello_world_api PROPERTY POSITION_INDEPENDENT_CODE ON)

target_link_libraries(hello_world_api
iovnet_dev
crossguid
uuid)