if(ENABLE_GRPC)
  add_executable(iov-{{serviceNameLowerCase}}-daemon
    {{serviceNameLowerCase}}-grpc.cpp
    {{serviceNameLowerCase}}.cpp)

  target_link_libraries(iov-{{serviceNameLowerCase}}-daemon
    crossguid # locally compiled
    uuid
    iovnet_grpc # locally compiled
    net_static
    pthread
    grpc++ grpc grpc++_reflection
    protobuf dl
    iovnet_dev
    {{serviceNameLowerCase}}_api)
endif(ENABLE_GRPC)

add_library(iov-{{serviceNameLowerCase}} SHARED
  {{serviceNameLowerCase}}.cpp
  {{serviceNameLowerCase}}-lib.cpp)

target_link_libraries(iov-{{serviceNameLowerCase}}
  iovnet_dev
  crossguid
  uuid
  {{serviceNameLowerCase}}_api)

# Specify shared library install directory

set(CMAKE_INSTALL_LIBDIR /usr/lib)

install(
    TARGETS
    iov-{{serviceNameLowerCase}}
    DESTINATION
    "${CMAKE_INSTALL_LIBDIR}"
)
