aux_source_directory(model MODEL_SOURCES)
aux_source_directory(api API_SOURCES)

include_directories(model)

set(SERVER_SOURCES
  ${MODEL_SOURCES}
  ${API_SOURCES})

add_library(iov-{{serviceNameLowerCase}} SHARED
  ${MODEL_SOURCES}
  {{serviceNameCamelCase}}.cpp
  {{serviceNameCamelCase}}Api.cpp
  {{serviceNameCamelCase}}-lib.cpp)

target_link_libraries(iov-{{serviceNameLowerCase}}
  iovnet_dev
  crossguid
  uuid)

# Specify shared library install directory

set(CMAKE_INSTALL_LIBDIR /usr/lib)

install(
    TARGETS
    iov-{{serviceNameLowerCase}}
    DESTINATION
    "${CMAKE_INSTALL_LIBDIR}"
)
