{{>licenseInfo}}
{{#operations}}

#include "{{baseName}}.h"

using namespace {{modelNamespace}};

/*
 * These functions do not include a default implementation and should be
 * implemented by the user
 */

{{#operation}}
{{^vendorExtensions.x-has-default-impl}}
/**
* @brief   {{summary}}
*
* {{notes}}*
* {{#allParams}}{{#secondaryParam}}
* @param[in] {{paramName}} {{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}{{/secondaryParam}}{{/allParams}}
*
* Responses:
* {{#returnType}}{{{returnType}}}{{/returnType}}
*/
{{#returnType}}{{{returnType}}} {{/returnType}}{{^returnType}}void {{/returnType}}
{{baseName}}::{{operationIdSnakeCase}}({{#allParams}}{{#secondaryParam}}const {{{dataType}}} &{{paramName}}{{#hasMore}}, {{/hasMore}}{{/secondaryParam}}{{/allParams}}) {
    throw std::runtime_error("Method not implemented");
}

{{/vendorExtensions.x-has-default-impl}}
{{/operation}}

{{/operations}}
