{{>partial_header}}

package main

import "{{goCliImportPath}}/cmd"

{{#model}}
    {{#description}}
        // {{{description}}}
    {{/description}}
{{/model}}

func main() {
    cmd.GetRootCmd().GenBashCompletionFile("{{goCliImportPath}}.sh")

}
