{{>partial_header}}

package cmd

{{#operations}}

import (
  {{#imports}}
  "{{{import}}}"
  {{/imports}}
  "github.com/sebymiano/cobra"
)

{{#operation}}
{{! If there is not a create method available for that operation
we do not create the command }}
{{#isRestfulCreate}}
{{#vendorExtensions.x-cliParam}}
var {{commandName}} = &cobra.Command {
  Use:      "{{commandUse}}",
  Short:    "{{summary}}",
  {{#totParams}}Args:     cobra.ExactArgs({{totParams}}),{{/totParams}}
  {{#exampleUse}}Example:  "{{{exampleUse}}}", {{/exampleUse}}
  Run: func(cmd *cobra.Command, args []string) {
    {{#hasPathParams}}
    i := -1
    {{/hasPathParams}}

    {{#pathParams}}
    i++
    {{paramName}} := args[i]
    {{/pathParams}}

    {{! TODO: This is the main method where we make the request}}
    fmt.Printf("POST {{pathToPrint}}\n"{{#pathParams}}, {{paramName}}{{/pathParams}})
  },
}

{{/vendorExtensions.x-cliParam}}
{{/isRestfulCreate}}
{{/operation}}

func init() {
{{#operation}}
{{#isRestfulCreate}}
{{#vendorExtensions.x-cliParam}}
{{parentCommand}}.AddCommand({{commandName}})
{{#paramKeys}}
{{commandName}}.AddParameter("{{key}}")
{{/paramKeys}}

{{#primitiveFlagParam}}
{{!TODO: For now, I support only primite string types}}
{{commandName}}.Flags().String("{{name}}", "{{defaultValue}}", "{{description}}")
{{/primitiveFlagParam}}

{{/vendorExtensions.x-cliParam}}
{{/isRestfulCreate}}
{{/operation}}
}

{{/operations}}
