{{>partial_header}}

package main

import "github.com/sebymiano/go-cli/cmd"

{{#model}}
    {{#description}}
        // {{{description}}}
    {{/description}}
{{/model}}

func main() {
    cmd.Execute()
}
