{{>partial_header}}

package cmd

import (
  {{#imports}}"{{{import}}}"{{/imports}}
  "fmt"
  "github.com/sebymiano/cobra"
)

// RootCmd represents the base command when called without any subcommands
var RootCmd = &cobra.Command{
  Use:    "{{appName}}"
  Short:  "{{appDescription}}"
}

// Execute adds all child commands to the root command sets flags appropriately.
// This is called by main.main(). It only needs to happen once to the rootCmd.
func Execute() {
	if err := RootCmd.Execute(); err != nil {
		fmt.Println(err)
		os.Exit(-1)
	}
}

func init() {
	cobra.OnInitialize()
}
